<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="WDIContext" connectionString="metadata=res://*/WDI.csdl|res://*/WDI.ssdl|res://*/WDI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=WDI;persist security info=True;user id=sa;password=Welcome1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
